<!-- ### Search & Sorting features ### -->
<search-sort></search-sort>

<!-- ### This is where I display pokemons ### -->
<ul id="pokemon-list">
	<li ng-repeat="pokemon in pokemons | filter: searchKeyword | orderBy:myOrderBy:reverse">
        <header ng-click="toggle($index)">
            <img ng-src="/images/thm/{{pokemon.id + pokemon.ename | removeSpecialChars}}.png">
            <hgroup>
                <h2>{{ pokemon.ename }}</h2>
                <h5>{{ pokemon.id }}</h5>
            </hgroup>
        </header>
        <article ng-show="details[$index]">
            <aside>
                <!--- FULL IMAGE OF POKEMON & POKEMON TYPES --->
                <img ng-src="/images/img/{{pokemon.id + pokemon.ename | removeSpecialChars}}.png" class="full-img">
                <div ng-repeat="pokemonType in pokemonTypes" ng-if="pokemon.type[0] === pokemonType.cname" class="pokeTypes">
                    <span><strong>{{pokemonType.ename}}</strong> type</span>
                    <span>{{pokemonType.jname}}</span>
                    <span>{{pokemonType.cname}}</span>
                </div>
            </aside>
            <aside>
                <!--- BELOW DISPLAYS POKEMON DETAILS --->
                <img ng-src="/images/spr/{{pokemon.id + 'MS' | removeSpecialChars}}.png" class="spr-img"> <strong>STATS</strong>
                <ol>
                    <li>
                        <label>Attack</label> 
                        <div><span style="width: {{pokemon.base.Attack}}%"></span></div>
                        <em>{{pokemon.base.Attack}}</em>
                    </li>
                    <li>
                        <label>Defense</label> 
                        <div><span style="width: {{pokemon.base.Defense}}%"></span></div>
                        <em>{{pokemon.base.Defense}}</em>
                    </li>
                    <li>
                        <label>HP</label> 
                        <div><span style="width: {{pokemon.base.HP}}%"></span></div>
                        <em>{{pokemon.base.HP}}</em>
                    </li>
                    <li>
                        <label>Sp.Atk</label> 
                        <div><span style="width: {{pokemon.base.SpAtk}}%"></span></div>
                        <em>{{pokemon.base.SpAtk}}</em>
                    </li>
                    <li>
                        <label>Sp.Def</label> 
                        <div><span style="width: {{pokemon.base.SpDef}}%">{{pokemon.base.Sp.Def}}</span></div>
                        <em>{{pokemon.base.SpDef}}</em>
                    </li>
                    <li>
                        <label>Speed</label> 
                        <div><span style="width: {{pokemon.base.Speed}}%"></span></div>
                        <em>{{pokemon.base.Speed}}</em>
                    </li>
                </ol>
            </aside>
        </article>
	</li>
<ul>