/*** COLORS ***/
$default-text:  #454545;
$link:          rgba(255, 82, 82, 1);
$link-hover:    #ee4054;
$white:         #ffffff;
$blue:          #1c81d8;
$blue-dark:     #196ac9;
$grey:          #edeeee;
$yellow:        #ffc229;
$grey-dark:     #9d9999;
